* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}
.body {
    min-width: 480px;
}
a {
    text-decoration: none;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background: rgb(27, 46, 80);
    color: white;
    position: fixed;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar nav a {
    color: white;
    margin: 15px 0;
}

main {
    margin-left: 230px;
    padding: 40px;
}

section {
    margin-bottom: 90px;
}

#about h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about p {
    max-width: 100%;
    color: black;
}

#projects h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.types {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sec {
    padding: 20px;
    border: solid rgb(221, 220, 220);
    width: 300px;
}

.sec a {
    font-weight: bold;
    color: rgb(24, 124, 218);
}

.sec h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#contact h1{
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 10px;
    color: rgb(24, 124, 218);
}

#contact a {
    color: rgb(24, 124, 218);
    font-weight:500;
}

@media screen and (max-width: 932px){
    
    .sidebar {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }
    .sidebar nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    main {
        margin-left: 0;
        padding: 20px;
    }
    #about p {
        max-width: 100%;
        text-align: center;
    }
    .types {
        flex-direction: column;
        align-items: center;
    }
    #contact p {
        text-align: center;
    }

}
